# ======================
# Python
# ======================

__pycache__/
*.py[cod]
*$py.class

*.so

.Python

venv/
env/
ENV/


# ======================
# Environment Variables
# ======================

.env


# ======================
# Jupyter Notebook
# ======================

.ipynb_checkpoints/


# ======================
# Node / React
# ======================

node_modules/

dist/

build/


# ======================
# Vite
# ======================

.vite/


# ======================
# IDE
# ======================

.vscode/

.idea/


# ======================
# Operating System
# ======================

.DS_Store

Thumbs.db
